@model SolidJokes.Web.Controllers.ArtistDetails

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<p>
    @if (@ViewBag.Id == "Random") {
        <a href="/Artist/Details/Random">Another Random Artist!</a>
    }
</p>
<p>API time: @ViewBag.APITime ms</p>
<p>API Call: @Model.Href</p>

<p><a href="@Model.external_urls.Spotify">Open web</a> </p>
<p><a href="@Model.Uri">Open direct</a></p>
<p>Followers Total: @Model.followers.Total</p>
<p>Popularity: @Model.Popularity</p>

@if (@Model.Images.Count > 0) {
    <img src="@Model.Images[0].URL" />
}
