@model SolidJokes.Web.Controllers.ArtistDetailsViewModel

<h2>@Model.ArtistDetails.Name</h2>
<a href="/Home/SpotifyArtistSearch">Search</a>
@foreach (var item in Model.APIDebugList) {
    <p>@item.APITime : @item.APIURL</p>
}

<p><a href="@Model.ArtistDetails.external_urls.Spotify">Open web</a> | <a href="@Model.ArtistDetails.Uri">Open direct</a></p>
<p>Followers Total: @Model.ArtistDetails.followers.Total | Popularity: @Model.ArtistDetails.Popularity</p>

<h3>Top Tracks</h3>
<table class="table">
    @foreach (var item in Model.ArtistTopTracks.tracks) {
        <tr>
            <td>@item.name</td>
            <td>
                <audio controls="controls">
                    <source src="@item.preview_url" type="audio/mpeg">
                    <p>Ooops - please use a more up to date browser so you can preview songs</p>
                </audio>
            </td>
            <td><a href="@item.uri">Direct</a> | <a href="@item.href">Web</a></td>
            <td>@item.popularity</td>
            <td>@item.album.name</td>
            <td><a href="/Album/Details/@item.album.id"> <img src="@item.album.images[2].url" /> </a></td>
        </tr>
    }
</table>


<h3>Albums</h3>
<table class="table">
    @foreach (var item in Model.ArtistAlbums.items) {
        <tr>
            <td>@item.name</td>
            <td><a href="@item.uri">Direct</a> | @item.album_type</td>
            <td><a href="/Album/Details/@item.id"> <img src="@item.images[2].url" /></a> </td>
        </tr>
    }
</table>


@if (@Model.ArtistDetails.Images.Count > 0) {
    <img src="@Model.ArtistDetails.Images[0].URL" />
}
