@model IEnumerable<Core.Models.Joke>

<!-- Green Message -->
@if (ViewBag.GreenMessage == true) {
    <div class="alert-success" align="center">@ViewBag.Message</div>
}

<!-- Red Message -->
@if (ViewBag.RedMessage == true) {
    <div class="alert-danger" align="center">@ViewBag.Message</div>
}

<table class="table">
    <tr>
        <th></th>
        <th>
            <a href="/Home/Index?sortOrder=ratingDescending" title="Sort by rating with highest first">Rating</a>
        </th>
        <th></th>
        <th>@Html.ActionLink("Date", "Index", new { sortOrder = "dateCreatedDescending" }, new { title = "Sort by date with newest first" })</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                <!-- If sortOrder is null ie davesjokes.co.uk then the helper handles this-->
                @Html.ActionLink("^^^", "Vote", new { storyID = item.ID, sortOrder = Request.QueryString["sortOrder"] }, new { title = "Vote for me!" })
            </td>
            <td>@item.Rating</td>
            <!-- Been getting Null and Empty in the database, so coding defensively -->
            <td>
                @if (!String.IsNullOrEmpty(item.Content)) { @item.Content }
                @if (!String.IsNullOrEmpty(item.VideoURL)) { <iframe width="210" height="158" src="@item.VideoURL" frameborder="0" allowfullscreen></iframe>}
                @if (!String.IsNullOrEmpty(item.ImageURL)) { <a href="@item.ImageURL"><img width="210" height="158" src="@item.ImageURL" title="@item.Title" /></a> }
            </td>
            <td></td>
            <td>@String.Format("{0:d-MMM H:mm:ss}", item.CreatedAt)</td>
        </tr>
    }
</table>

