@model SolidJokes.Web.Controllers.ArtistsResponse

<h2>Artist Search</h2>

<form action="/Home/SpotifyArtistSearch">
    <input id="artist" name="artist" type="text" value="@ViewBag.InitialArtist" />
    <input type=hidden name=offset value=0>
    <input type="submit" value="Search" />
</form>

@if (Model != null) {
    <p>
        Total: @Model.Total
    </p>
    <p>
        Href: @Model.Href
    </p>
    <p>
        API Call: @ViewBag.APITime ms
    </p>
    <p>
        @if (ViewBag.ShowPrevious == true){
            <a href="/Home/SpotifyArtistSearch?artist=@ViewBag.ArtistSearchedFor&offset=@ViewBag.OffsetPrevious">Previous</a>
        }
        @if (ViewBag.ShowNext == true){
            <a href="/Home/SpotifyArtistSearch?artist=@ViewBag.ArtistSearchedFor&offset=@ViewBag.OffsetNext">Next</a>
        }
    </p>

    <table class="table">
        @foreach (var item in Model.Items) {
            <tr>
                <td>
                    @item.Name
                </td>
                @if (item.Images.Count == 4) {
                    <td>
                        <img src="@item.Images[2].Url" />
                    </td>
                }

                @if (item.Images.Count == 3) {
                    <td>
                        <img width="200" src="@item.Images[1].Url" />
                    </td>
                }
            </tr>
        }
    </table>
}


