@using Microsoft.Ajax.Utilities
@model SolidJokes.Web.Controllers.ArtistsResponse

<h2>Artist Search</h2>

@using (Html.BeginForm()) {
    @*<input type="text" id="artistName" />*@
    @*@Html.TextBox("artistName")*@
    <input id="artistName" name="artistName" type="text" value="@ViewBag.InitialArtist" />
    <input type="submit" value="Search" />
}

@if (Model != null) {
    <p>
        Showing first 50 records of: @Model.Total
    </p>
    <p>
        Href: @Model.Href
    </p>
    <p>
    @*    <a href="@Model.Next">Next</a>*@
        @*<a href="@Model.Previous">Previous</a>*@
    </p>

    <table class="table">
        @foreach (var item in Model.Items) {
            <tr>
                <td>
                    @item.Name
                </td>
                @if (item.Images.Count == 4) {
                    <td>
                        <img src="@item.Images[2].Url" />
                    </td>
                }
                
                @if (item.Images.Count == 3) {
                    <td>
                        <img width="200" src="@item.Images[1].Url" />
                    </td>
                }
            </tr>
        }
    </table>
}


